.Shops>.container{
    padding-left: 178px;
    padding-top: 130px;
    padding-right: 175.66px;
}
.Shops__heading{
    font-size: 45px;
    line-height: 72px;
    padding-bottom: 50px;
}
.trusted_shops__brand{
    width: 1146.34px;
    height: 37.88px;
}